<div class="border border-dark mb-2" *ngFor="let order of userOrders">
    <div class="row m-0 p-0">
        <div class="small col-12 col-lg-7 m-0 m-0 justify-content-center pt-1 border-bottom border-dark">
            {{order.date}}
        </div>
        <div class="text-danger justify-content-center pt-1 col-6 col-lg-2 border-bottom text-center border-dark"
            *ngIf="order.status == 'NotPaid'">
            Not Paid
        </div>
        <div class="text-primary justify-content-center pt-1 col-6 col-lg-2 border-bottom text-center border-dark"
            *ngIf="order.status == 'IsDelivered'">
            Is Delivered
        </div>
        <div class="text-secondary justify-content-center pt-1 col-6 col-lg-2 border-bottom text-center border-dark"
            *ngIf="order.status == 'Complited'">
            Complited
        </div>
        <div class="m-0 col-6 col-lg-3 text-center justify-content-center border-bottom border-left border-dark color-style">
            <div class="h4 d-inline font-weight-normal m-0 ">{{order.totalCost}} </div>
            <div class="d-inline text-muted small">{{order.items[0].currency}}</div>
        </div>

    </div>

    <div class="row m-0 justify-content-center">
        <div class="col-11 col-lg-9 p-2">
            <div class="m-0 mb-2 p-0 row justify-content-center justify-content-lg-start"
                *ngFor="let item of order.items">
                <div class="image-wraper media d-block col-11 col-lg-3 m-0">
                    <img class="mx-auto d-block product-img col-auto p-0"
                        src="../assets/imgs/{{item.product.previewImg}}" alt="{{item.product.name}}">
                </div>
                <div class="col-11 col-lg-6 ">
                    {{item.product.name}}
                    <div class="text-muted">
                        {{item.product.price}} &times; {{item.count}} = {{item.amount}} {{item.currency}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 m-0 p-3 border-left border-dark">
            <button *ngIf="order.status =='IsDelivered'" class="btn text-success btn-block" (click)="confirmDelivery(order.id)">
                <i class="fa fa-check"></i>
                Confirm delivered</button>
            <button *ngIf="order.status =='NotPaid'" class="btn text-primary btn-block disabled" routerLink="/Order/{{order.id}}">
                <i class="fa fa-credit-card"></i>
                Pay for order</button>
            <button class="btn text-light btn-block disabled">
                <i class="fa fa-cart-plus"></i>
                Add to Cart</button>
            <button class="btn text-light btn-block" (click)="deleteOrder(order.id)" *ngIf="order.status != 'IsDelivered'">
                <i class="fa fa-trash-o text-danger"></i>
                Delete</button>
        </div>
    </div>

</div>
<div *ngIf="userOrders.length == 0">
    <h1 class="text-danger m-0">No orders</h1>

</div>