<div id="SignInModal" class="modal pt-lg-5 pt-2">
  <div class="modal-window col-11 col-lg-3 m-auto rounded p-2 shadow-lg bg-light mt-lg-5 mt-0">
    <button type="button" class="close text-danger align-top text-center" aria-label="Close"
      onclick="document.getElementById('SignInModal').style.display = 'none'">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="m-4 text-danger text-center">
      {{message}}
    </div>
    <form class="form-signin col-11 text-center m-auto pb-4" [formGroup]="loginForm" (ngSubmit)="logIn()">
      <i class="fa fa-3x fa-fw fa-hand-spock-o text-info"></i>
      <h1 class="h3 mb-3 font-weight-normal text-info">Please sign in</h1>

      <label for="inputEmail" class="sr-only">Username</label>
      <input type="text" class="form-control rounded-pill mb-3" formControlName="userName" placeholder="Username" autofocus>

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" class="form-control rounded-pill" formControlName="password" placeholder="Password">

      <input [disabled]="loginForm.invalid" class="btn btn-block btn-primary mt-3 rounded-pill border" type="submit" value="LogIn">
    </form>
  </div>
</div>

<div id="SignUpModal" class="modal pt-lg-5 pt-2">
  <div class="modal-window col-11 col-lg-4 m-auto rounded p-2 shadow-lg bg-light mt-lg-5 mt-0">
    <button type="button" class="close text-danger align-top text-center" aria-label="Close"
      onclick="document.getElementById('SignUpModal').style.display = 'none'">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="m-4 text-danger text-center">
      {{message}}
    </div>
    <form class="col-11 text-center m-auto pb-3 pt-0" [formGroup]="registerForm" (ngSubmit)="SignUp()">
      <h1 class="h3 mb-2 font-weight-normal text-info mb-3">Create account</h1>

      <label for="inputFirstName" class="sr-only">Firstname</label>
      <input type="text" id="inputFirstName" class="form-control rounded-pill mb-3" placeholder="Firstname"
        formControlName="firstName">

      <label for="inputSecondName" class="sr-only">Secondname</label>
      <input type="text" id="inputSecondName" class="form-control rounded-pill mb-3" placeholder="Secondname"
        formControlName="secondName">

      <label for="inputUserName" class="sr-only">Username</label>
      <input type="text" id="inputUserName" class="form-control rounded-pill mb-3" placeholder="Username"
        formControlName="userName">

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control rounded-pill mb-3" placeholder="Email address"
        formControlName="email">

      <label for="inputPhoneNumber" class="sr-only">Phone number</label>
      <input type="tel" id="inputPhoneNumber" class="form-control rounded-pill mb-2"
        placeholder="Phone number X XXX XXX XX XX" formControlName="phoneNumber">

      <label for="inputPassword" class="text-muted">Create Password</label>
      <input type="password" id="inputPassword" class="form-control rounded-pill mb-3" placeholder="Password"
        formControlName="password">

      <label for="inputConfirmPassword" class="sr-only">Confirm password</label>
      <input type="password" id="inputConfirmPassword" class="form-control rounded-pill" placeholder="Confirm Password"
        formControlName="confirmPassword">

      <input [disabled]="registerForm.invalid" type="submit" value="SingUp"
        class="btn btn-block btn-primary mt-2 rounded-pill">
    </form>
  </div>
</div>