    <div class="font-weight-bold">Personal information</div>
    <hr>
    <div class="row justify-content-around">
        <div class="col-12 col-lg-5 text-justify font-weight-normal">
            Here contains your personal information. You can update it by changing the values ​​in the form
            fields and clicking on the button

            <div *ngIf="infoFormResult && infoFormCompleted" class="alert alert-success mt-2 p-2">{{infoformMessage}}</div>
            <div *ngIf="!infoFormResult && infoFormCompleted" class="alert alert-danger mt-2 p-2">{{infoformMessage}}</div>
        </div>
        <form class="col-12 col-lg-4" [formGroup]="infoForm" (ngSubmit)="updateInfo()">
            <label for="inputFirstName" class="input-label">First name</label>
            <input type="text" id="inputFirstName" class="form-control mb-2" placeholder="Firstname"
                formControlName="firstName">

            <label for="inputSecondName" class="input-label">Second name</label>
            <input type="text" id="inputSecondName" class="form-control mb-2" placeholder="Secondname"
                formControlName="secondName">

            <label for="inputUserName" class="input-label">Username</label>
            <input type="text" id="inputUserName" class="form-control mb-2" placeholder="Short username"
                formControlName="userName">

            <label for="inputPhoneNumber" class="input-label">Phone number</label>
            <input type="tel" id="inputPhoneNumber" class="form-control mb-2"
                placeholder="Phone number X XXX XXX XX XX" formControlName="phoneNumber">

            <input [disabled]="infoForm.invalid || infoForm.pristine"
                class="btn btn-block mt-3 rounded-pill" type="submit" value="Save">
        </form>
    </div>
    <hr class="border-secondary">

    <div class="font-weight-bold"> E-mail address</div>
    <div class="row justify-content-around">
        <div class="col-12 col-lg-5">
            Here contains your personal information. You can update it by changing the values ​​in the form
            fields and clicking on the button

            <div class="alert alert-warning mt-2 p-2" *ngIf="!user.emailConfirmed"> Email address is not confirmed </div>

            <div *ngIf="emailFormResult && emailFormCompleted" class="alert alert-success mt-2 p-2">{{emailFormMessage}}</div>
            <div *ngIf="!emailFormResult && emailFormCompleted" class="alert alert-danger mt-2 p-2">{{emailFormMessage}}</div>

        </div>
        <form class="col-12 col-lg-4" [formGroup]="emailForm" (ngSubmit)="changeEmail()">
            <label for="inputEmail" class="input-label">Email address</label>
            <input type="email" id="inputEmail" class="form-control mb-3" placeholder="Email address"
                formControlName="email">

            <input [disabled]="emailForm.invalid || emailForm.pristine"
                class="btn btn-block  mt-3 rounded-pill" type="submit" value="Change">
        </form>
    </div>
    <hr class="border-secondary">
    <div class="font-weight-bold">Password</div>
    <div class="row justify-content-around">
        <div class="col-12 col-lg-5">
            Here contains your personal information. You can update it by changing the values ​​in the form
            fields and clicking on the button
            <div *ngIf="passwordFormResult && passwordFormCompleted" class="alert alert-success mt-2 p-2">{{passwordFormMessage}}</div>
            <div *ngIf="!passwordFormResult && passwordFormCompleted" class="alert alert-danger mt-2 p-2">{{passwordFormMessage}}</div>

        </div>
        <form class="col-12 col-lg-4" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
            <label for="inputPassword" class="input-label">Current password</label>
            <input type="password" id="inputPassword" class="form-control mb-3" placeholder="Current password"
                formControlName="currentPassword">

            <label for="inputPassword" class="input-label">New password</label>
            <input type="password" id="inputPassword" class="form-control mb-3" placeholder="New password"
                formControlName="newPassword">

            <label for="inputPassword" class="input-label">New password again</label>
            <input type="password" id="inputPassword" class="form-control mb-3" placeholder="Again"
                formControlName="confirmPassword">

            <input [disabled]="passwordForm.invalid" class="btn btn-block mt-3 rounded-pill"
                type="submit" value="Change">
        </form>
    </div>

