.product-img{    
    width: 100%;
    height: auto;
    border-radius: 10px; 
    box-shadow: 6px 6px 20px #181920, 
              -6px -6px 20px #181920;
  }
.mainplace{
  background-color: var(--main-bg-color);
    color: var(--main-text-color);
    box-shadow:  12px 12px 22px var(--bg-darkshadow), 
             -12px -12px 22px var(--bg-lightshadow);
    outline: none !important;
    outline-style: none;
    border-radius: 15px;
}
.item{

  border-radius: 10px;  
}
.img-wraper{
  box-shadow: 6px 6px 10px var(--bg-darkshadow), 
              -6px -6px 10px var(--bg-lightshadow);
  padding: 10px;
  border-radius: 12px;  
}
input[type="text"]{
  background-color: transparent;
  color: inherit;
  box-shadow: inset 6px 6px 10px var(--bg-darkshadow), 
              inset -6px -6px 10px var(--bg-lightshadow);
}
hr {
  border-top: 2px dashed tomato;
}