<div class="p-3 mt-3 ml-0 ml-auto mr-auto col-11 col-lg-9 mb-3 overflow-scroll mainplace" >
  <h1>Your cart</h1>
  <hr>
  <div *ngIf="items.length == 0" class="text-muted text-center h4 font-weight-lighter">
    There is nothing in your cart
  </div>

  <div class="p-3 mt-4 mr-0 ml-0 row item" *ngFor="let item of items">
    <div class="col-2 d-none d-lg-block img-wraper">
      <img class="d-block product-img" src="./assets/imgs/{{item.product.previewImg}}" alt="item.product.name">
    </div>
    <div class="col-12 col-lg-5 mt-0 p-0 mb-2 pl-2">
      <p>
        {{item.product.name}}
      </p>
      <p class="text-left h5  font-weight-normal d-inline p-1 color-style">
        {{item.product.price}} {{item.product.currency}}
      </p>
    </div>
    <div class="col-7 col-lg-2 align-self-center p-0">
      <form>
        <div class="form-row p-0">
          <div class="col-4 p-1 m-0">
            <button type="button" class="rounded-circle border-0 w-100 p-3" (click)="minusOne(item.product.id)">-</button>
          </div>
          <div class="col-4 p-1 m-0">
            <input type="text" class="rounded-circle border-0 p-3 w-100 text-center" value="{{item.count}}" readonly>
          </div>
          <div class="col-4 p-1 m-0">
            <button type="button" class="rounded-circle border-0 w-100 p-3" (click)="plusOne(item.product.id)">+</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-5 col-lg-2 p-0 m-0 align-self-center mt-2">
      <div class="text-right m-0">
        <div class="h3 d-inline font-weight-normal">{{item.product.price * item.count}}</div>
        <div class="d-inline font-weight-lighter text-muted "> {{item.product.currency}}</div>
      </div>
    </div>
    <div class="col-12 col-lg-1 p-0 m-0 order-first order-lg-last text-right p-0 align-top">
      <button type="button" class="btn-close float-right" aria-label="Close" (click)="removeItem(item.product.id)">
        <span aria-hidden="true" class="align-top p-0 m-0">&times;</span>
      </button>
    </div>
  </div>
  <hr>

  <div class=" text-right m-3 align-middle">
    Total: 
    <div class="h1 font-weight-lighter d-inline-block">
       {{totalPrice}}
    </div>
    
    <div class="d-inline font-weight-lighter text-muted"> USD</div>
  </div>
  
  <div *ngIf="isLoggedIn == false" class="alert alert-warning text-center"> To order, you must register </div>

  <button [disabled]="items.length == 0 || isLoggedIn == false" class="border-0 color-light btn-lg d-block mt-3 mr-auto ml-auto rounded-pill p-2 pl-3 pr-3" (click)="createOrder()">
    To checkout
    <i class="fa fa fa-chevron-right">

    </i>
  </button>

</div>