<div class="mt-4 row p-0 m-0 main">
    <div class="col-lg-3 p-3">
        <div class="m-2 color-style">{{searchResult.products.length}} results</div>
        <div class="border border-dark p-2" *ngIf="searchResult.subcategories.length != 0">
            <div class="text-muted border-bottom border-dark">Subcateroies</div>
            <a *ngFor="let sc of searchResult.subcategories" class="d-block common-link"
                (click)="selectCategory(sc.id)">{{sc.name}} </a>
        </div>
        <div class="border border-dark p-2 mt-2" *ngIf="searchResult.brands.length != 0">
            <div class="text-muted border-bottom border-dark">Brands</div>
            <div class="form-check color-light" *ngFor="let item of filterBrandOptions">
                <input class="align-middle m-2" type="checkbox" value="" id="{{'checkboxBrand' + item.value}}"
                    [(ngModel)]="item.checked" (change)="brandsChanged()">
                <label class="align-middle m-0" for="{{'checkboxBrand' + item.value}}">
                    {{item.label}}
                </label>
            </div>
        </div>
        <span class="color-style mt-2">Price</span>
        <span class="multi-range" [formGroup]="priceSlider">
            <input type="range" min="{{searchResult.minPrice}}" max="{{searchResult.maxPrice}}" step="2"
                value="{{searchResult.minPrice}}" formControlName="lower">
            <input type="range" min="{{searchResult.minPrice}}" max="{{searchResult.maxPrice}}" step="2"
                value="{{searchResult.maxPrice}}" formControlName="upper">
        </span>
        <form [formGroup]="priceRangeInput" class="form-row mt-4 justify-content-between mb-2" (ngSubmit)="setMinMaxPrice()">
            <input type="number" formControlName="lower" max="{{searchResult.maxPrice}}" class="col-3 form-control"
                (change)="priceRangeInputChanged()">
            <input type="submit" class="col-3" value="Ok">
            <input type="number" formControlName="upper" max="{{searchResult.maxPrice}}" class="col-3 form-control"
                (change)="priceRangeInputChanged()">
        </form>
        <a class="text-muted" (click)="resetFilters()">Reset Filters</a>

    </div>
    <div class="col-lg-9">
        <div class="row p-2">
            <div class="col-12 col-lg-3 d-flex">
                <mat-form-field>
                    <mat-label class="color-style">Sort By</mat-label>
                    <mat-select [formControl]="sortControl">
                        <mat-option value="default">Default</mat-option>
                        <mat-option value="price_asce">Price: low to high</mat-option>
                        <mat-option value="price_desc">Price: high to low</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row row-cols-4 justify-content-center justify-content-lg-start">

            <div class="col-11 col-sm-5 col-md-4 col-lg-3 product mb-0 p-2" *ngFor="let p of searchResult.products">
                <div class="image-wraper">
                    <img class="mx-auto d-block product-img col-auto p-0" src="./assets/imgs/{{p.previewImg}}"
                        alt="{{p.name}}">
                </div>

                <a class="product-title">
                    {{p.name}}
                </a>
                <a class="small d-block mb-2">
                    <i class="fa fa-comment-o"></i> reviews
                </a>

                <div class="float-left m-0">
                    <div class="h3 d-inline font-weight-normal color-style">{{p.price}} </div>
                    <div class="d-inline font-weight-normal text-muted">{{p.currency}}</div>
                    <div class="small font-weight-normal m-0 text-success">
                        {{p.status}}
                    </div>
                </div>

                <button class="m-0 float-right p-2 product-btn" (click)="addProductToCart(p)"><i
                        class="fa fa-2x fa-cart-plus"></i></button>
            </div>

            <div *ngIf="searchResult.products.length == 0" class="h4 font-weight-light text-muted p-3">
                Items not found <i class="fa fa-frown-o"></i>
            </div>

        </div>

    </div>

</div>