
<div class="mt-4 row p-0 m-0 main">
    <div class="col-lg-3 p-3">
        <div class="m-2 color-style">{{selectedProducts.length}} results</div>
        <div class="border border-dark p-2" *ngIf="selectedSubcategories.length != 0">
            <div class="text-muted border-bottom border-dark">Subcateroies</div>
            <a *ngFor="let sc of selectedSubcategories" class="d-block common-link" (click)="selectCategory(sc.id)">{{sc.name}} </a>
        </div>
        <div class="border border-dark p-2 mt-2" *ngIf="selectedBrands.length != 0">
            <div class="text-muted border-bottom border-dark">Brands</div>
            <a *ngFor="let brand of selectedBrands" class="d-block common-link" (click)="selectBrand(brand.id)" >{{brand.name}} </a>
        </div>
        
    </div>
    <div class="col-lg-9">
        <div class="row">
            <div class="col-12 p-1 col-lg-3 d-flex">
                <span class="p-1 pr-2 align-middle color-light">Sort by</span>
                <select class="flex-fill p-1 pl-2 bg-dark rounded border-0 color-light">
                    <option>Default</option>
                    <option>Price: low to high</option>
                    <option>Price: high to low</option>
                  </select>
            </div>
        </div>
        <div class="row row-cols-4 justify-content-center justify-content-lg-start">

            <div class="col-11 col-sm-5 col-md-4 col-lg-3 p-2 product mb-0" *ngFor="let p of selectedProducts">
                <div class="image-wraper">
                    <img class="mx-auto d-block product-img col-auto p-0" src="./assets/imgs/{{p.previewImg}}" alt="{{p.name}}">
                </div>

                <a class="product-title ">
                    {{p.name}}
                </a>
                <a class="small d-block mb-2">
                    <i class="fa fa-comment-o"></i> reviews
                </a>

                <div class="float-left m-0">
                    <div class="h3 d-inline font-weight-normal color-style">{{p.price}} </div>
                    <div class="d-inline font-weight-normal text-muted">{{p.currency}}</div>
                    <div class="small font-weight-normal m-0 text-success">
                        {{p.status}}
                    </div>
                </div>

                <button class="m-0 float-right p-2 product-btn" (click)="addProductToCart(p)"><i
                        class="fa fa-2x fa-cart-plus"></i></button>
            </div>

            <div *ngIf="selectedProducts.length == 0" class="h4 font-weight-light text-muted p-3"> 
                Items not found <i class="fa fa-frown-o"></i>
            </div>

        </div>

    </div>

</div>