.main{
   box-shadow:  
      8px 8px 14px var(--bg-darkshadow), 
      -8px -8px 14px var(--bg-lightshadow);
}
.product{
   order: 3px solid var(--main-bg-color);
   z-index: inherit;    
   box-shadow:            
      inset 4px 4px 9px var(--bg-darkshadow),
      inset -4px -4px 9px var(--bg-lightshadow);
   color: var(--main-text-color);
 }
.product:hover{   
   z-index: 3;
   animation: fadein 1s;
   box-shadow:            
      inset 4px 4px 4px var(--bg-darkshadow),
      inset -15px -15px 25px rgba(255, 166, 0, 0.1);
   color: var(--style-text-color);
}
@keyframes fadein {
   from { box-shadow:            
      inset 4px 4px 9px var(--bg-darkshadow),
      inset -4px -4px 9px var(--bg-lightshadow);}
   to   { box-shadow:            
      inset 4px 4px 4px var(--bg-darkshadow),
      inset -15px -15px 25px rgba(255, 166, 0, 0.1);}
}
.image-wraper{
   height: 220px;       
}
.product-img{  
   max-height: 200px;
   top: 50%;
   transform: translateY(-50%);
   border-radius: 10px;
}
.product-title{
    display: block;
    height: 120px;
    line-height: 17px;
    text-align: justify;
    font-size: 16px;
    text-decoration: none;
    color: inherit !important;
}
.product-btn{
   border:none;
   width: 50px;
   height: 50px;
   border-radius: 20px;
   text-decoration: none;  
   color: palegreen;
   box-shadow:  9px 9px 16px var(--bg-darkshadow), 
   -9px -9px 16px var(--bg-lightshadow),             
   inset -4px -4px 9px var(--bg-darkshadow),
   inset 4px 4px 9px var(--bg-lightshadow);
}
.product-btn:hover{
   color: var(--style-text-color) !important;
   text-shadow: 1px 1px 2px var(--style-text-color);
   box-shadow:  4px 4px 9px var(--bg-darkshadow), 
            -4px -4px 9px var(--bg-lightshadow),             
            inset 4px 4px 9px var(--main-bg-color),
            inset -4px -4px 9px rgba(255, 166, 0, 0.04);
}


