body{
    background: #87cae9;
    padding: 0;
    margin: 0; 
    width: 100%;      
    
}
header{
    background-color: #87cae9;
    padding: 0;
    margin: 0;
    display: block;
}
.loading-label{
    display: block;
    position: absolute;
    margin: 0 auto;
    text-align: center;
}
.form-search{
 height: 56px;
}
.subcategory-window{
    margin-top: 141px;
    height: 400px;
}
input{
    background-color: white;
    border: none;   
    color: #87cae9;
    outline: none;
}
button{
    background-color: white;
    
    
}
button:hover{
    background-color: #b7daeb;
}

a{
    text-decoration: none;
    color: #87cae9;
    
 }
 a:hover{
    color: white;
 }
 
 

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
