<div class="row mt-3 m-0">

    <div class="col-12 col-lg-3  text-center p-0 pt-3">
        <button class="btn btn-block btn-outline-light border-0 p-2 text-left" routerLink="Details"> <i
                class="fa fa-fw fa-user-circle-o"></i> Account details<i
                class="fa fa-fw fa-chevron-right mt-1 float-right"></i></button>
        <button class="btn btn-block btn-outline-light border-0 p-2 text-left" routerLink="Orders"> <i
                class="fa fa-fw fa fa-shopping-bag"></i> My orders
            <i class="fa fa-fw fa-chevron-right mt-1 float-right"></i></button>
    </div>
    <div class="col-12 col-lg-9">
        <div class="bg-white p-3 m-0 rounded-lg">
            <router-outlet></router-outlet>    
        </div>
         


    </div>
</div>